@import url(../../styles/variables/colors.css);
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 50px 1fr 100px;
}

main {
  display: grid;
  grid-auto-rows: 1fr;
}

header,
section,
footer {
  display: grid;
  grid-template-areas: ". container .";
  grid-template-columns: 1fr 1fr;
}

.container {
  grid-area: container;
}
