@import url(../../styles/variables/colors.css);
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 50px 1fr 100px;
}

main {
  color: white;
  background-color: black;
}

header,
main,
footer {
  display: grid;
  grid-template-areas: ". container .";
  grid-template-columns: 1fr 1170px 1fr;
}
