@import url(../../styles/variables/colors.css);
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  min-height: 100vh;
  min-width: 500px;
  grid-template-rows: 50px 1fr 100px;
}

h1, h2, h3 {
  font-weight: 500;
}

main {
  display: grid;
  grid-auto-rows: 1fr;
}

header,
section,
footer {
  display: grid;
  grid-template-areas: ". container .";
  grid-template-columns: 1fr 100% 1fr;
}

.container {
  grid-area: container;
}

